[submodule "crewAI"]
	path = crewAI
	url = https://github.com/rennyoure-hash/crewAI.git
[submodule "langgraph"]
	path = langgraph
	url = https://github.com/rennyoure-hash/langgraph.git
[submodule "AutoGPT"]
	path = AutoGPT
	url = https://github.com/rennyoure-hash/AutoGPT.git
[submodule "agno"]
	path = agno
	url = https://github.com/rennyoure-hash/agno.git
[submodule "pydantic-ai"]
	path = pydantic-ai
	url = https://github.com/rennyoure-hash/pydantic-ai.git
